<%= (provide :title, "Домашняя")%>
<div class="center hero-unit">
	<h1>Добро пожаловать. Приложение Sample App</h1>
	<%= link_to "Регистрация!", "signup", class: "btn btn-large btn-primary"%>
	</div>

<%= link_to image_tag("rails.svg", alt: "Rails"), 'http://rubyonrails.org/', class: "img img-circle"%>
