<%= (provide :title, "Регистрация")%>
<div class="center hero-unit">
	<h1>Добро пожаловать на страницу "Регистрация"</h1>

</div>

<%= link_to image_tag("rails.svg", alt: "Rails"), 'http://rubyonrails.org/', class: "img img-circle"%>
